/PBD/programmingbydoing/target/
/Classroom/Window/target/
/Labs/Labs/target/
/Classroom/classroom/target/
/Labs/Labs/nbproject/
/Classroom/Collections/target/
/PBD/programmingbydoing/nbproject/
/Classroom/Files/target/
/Labs/Labs/testScoreData.txt
/Classroom/Files/fileName.txt

/Labs/StudentQuizScores/nbproject/
/Labs/StudentQuizScores/target/
/Labs/AddressBook/target/
/Labs/AddressBook/nbproject/
/Labs/com.mycompanyDVDLibrary/target/
/Labs/com.mycompanyDVDLibrary/nbproject/